/*
 *  TSPSG: TSP Solver and Generator
 *  Copyright (C) 2007-2010 Lёppa <contacts[at]oleksii[dot]name>
 *
 *  $Id$
 *  $URL$
 *
 *  This file is part of TSPSG.
 */

#include <winver.h>
#include "..\\src\\resource.h"
#pragma code_page(65001)

LANGUAGE	0x00, 0x00

// Main Icon
IDI_APPICON	ICON	"tspsg.ico"

// Version Info
VS_VERSION_INFO VERSIONINFO
	FILEVERSION BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_RELEASE,BUILD_NUMBER
	PRODUCTVERSION BUILD_VERSION_MAJOR,BUILD_VERSION_MINOR,BUILD_RELEASE,BUILD_NUMBER
	FILEFLAGSMASK 0x17L
#if defined(_DEBUG) || defined(DEBUG)
	FILEFLAGS VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PRIVATEBUILD
#else
	#if BUILD_NUMBER == 65535
		FILEFLAGS VS_FF_PRERELEASE | VS_FF_SPECIALBUILD
	#elif BUILD_RELEASE < 11
			FILEFLAGS VS_FF_PRERELEASE
	#else
			FILEFLAGS 0x0L
	#endif
#endif
#ifdef Q_OS_WINCE
	FILEOS VOS_WINCE
#else
	FILEOS VOS__WINDOWS32
#endif
	FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", VERSIONID
            VALUE "CompanyName", "..::Lёppsville::.. Homes"
            VALUE "FileDescription", "TSPSG: TSP Solver and Generator"
            VALUE "FileVersion", BUILD_VERSION
            VALUE "InternalName", "TSPSG"
            VALUE "LegalCopyright", "Copyright © 2007-2010 Lёppa <contacts[at]oleksii[dot]name>"
            VALUE "OriginalFilename", "tspsg.exe"
            VALUE "ProductName", "TSPSG"
            VALUE "ProductVersion", BUILD_VERSION
#if defined(_DEBUG) || defined(DEBUG)
            VALUE "PrivateBuild", "Debug development build"
#elif BUILD_NUMBER == 65535
            VALUE "SpecialBuild", "Internal development build"
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
